#about {
    background-color: #000;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding-top: rem(120);

    .footer {
        margin-top: rem(20);
        margin-bottom: rem(30);
        .cc p{
        margin: rem(60) 0 rem(10) 0;
        }
    }
}

  ul {
    list-style: none;
    padding: 0;
    margin: rem(20) 0 rem(20) 0;

    a {
        color: get-color(white);
        font-style: none;
        text-decoration: underline;

        &:hover {
            opacity: 0.8;
            color: get-color(white);
          }
      }
  }
  
.pp {
    padding-left: 0;
}
.deep {
    margin-top: rem(45);
}

.deep .col-lg-6:first-child p {
    margin-top: rem(49);
}

.footer ul,
.featured ul {
    margin-top: 0;
}