#about {
    background-color: #000;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding-top: rem(120);

    .footer {
        margin-top: rem(20);
        margin-bottom: rem(30);
        .cc p{
        margin: rem(60) 0 rem(10) 0;
        }
    }
}
  
.pp {
    padding-left: 0;
}

.featured ul {
    margin-top: 0;
}